<mat-toolbar>
    Registro
</mat-toolbar>
<mat-card>
    <div class="img">
        <h2 style="margin-left: 10px;">Foto de perfil</h2>
        <img src="assets/wp2414970.jpg" alt="usuario" style="border-radius: 80px;" name="foto" width="140px"
            height="140px">
        <div class="contr">
            <br>
            <button style="margin-left:40px;" mat-raised-button><i class="fas fa-cloud-upload-alt"></i></button>
        </div>
    </div>
    <div class="formu">
        <form action="">
            <table>
                <th>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="label" required>
                    </mat-form-field>
                </th>
                <th>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="label" required>
                    </mat-form-field>
                </th>
            </table>
            <br>
            <table>
                <th>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="label" required>
                    </mat-form-field>
                </th>
                
                <th>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="label" required>
                    </mat-form-field>
                </th>
            </table>
            <table>
                <th>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="label" required>
                    </mat-form-field>
                </th>
                <th>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="label" required>
                    </mat-form-field>
                </th>
            </table>
            <br>
            <button type="submit" mat-raised-button>Registrar</button>
            <br>
        </form>
    <br>
    </div>
</mat-card>